*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
  width: 371px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.form button {
  flex-grow: 0;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;

  background: #4e75ff;
}

.form label {
  flex-grow: 1;
}

.form input {
  width: 100%;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.gallery-img-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
}

.gallery-info-item {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-weight: 600;
  font-size: 12px;

  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-info-item span {
  font-weight: 400;

  line-height: 2;
  color: #2e2f42;
}

.gallery-item-link {
  display: block;
  width: 100%;
  height: 152px;
  overflow: hidden;
}

.load-more-btn {
  display: none;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  border: none;
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4e75ff;
}

.load-more-btn.show {
  display: block;
}
